# Copy เป็น .env แล้วใส่ค่าจริง (ไฟล์ .env ไม่ commit ขึ้น Git)
# ใช้ตอนรัน local (npm run dev) เพื่อให้ปุ่มดาวน์โหลดทำงาน

ALBUM_CODES={"album-1":"A1234","album-2":"B1234","album-3":"C1234","album-4":"D1234","album-5":"E1234"}
ALBUM_DOWNLOAD_URLS={"album-1":"https://drive.google.com/file/d/12gbXw7alIgV59RLaYn8hVSl1lOaWN_sh/view?usp=drive_link","album-2":"https://drive.google.com/file/d/12gbXw7alIgV59RLaYn8hVSl1lOaWN_sh/view?usp=drive_link","album-3":"https://drive.google.com/file/d/12gbXw7alIgV59RLaYn8hVSl1lOaWN_sh/view?usp=drive_link","album-4":"https://drive.google.com/file/d/12gbXw7alIgV59RLaYn8hVSl1lOaWN_sh/view?usp=drive_link","album-5":"https://drive.google.com/file/d/12gbXw7alIgV59RLaYn8hVSl1lOaWN_sh/view?usp=drive_link"}
